user.status
vgcore.*
/bin64
/centos
/ilib64
/lib64
/mac
/Makefile.config.mac.arch
/reconfigure
/schema
/test-bin64
/win
*.opensdf
*.sdf
*.suo
*.log
/.cproject
/.project
/.pydevproject

# mac os x meta-files
.DS_Store
._*

*~
\#*
.\#*
core
*.pyc
.gdb_history
.vscode
*.cache
*.user
actual/
.vs
user-settings.mkfg
libs/cipher/cipher-1.7/cipher.egg-info
