user.status
vgcore.*
/bin64
/build/COMP.mac
/build/Makefile.config*
/build/MSVC/2010/ipch
/build/MSVC/2010/ncbi-vdb.opensdf
/centos
/ilib64
/lib64
/mac
/Makefile.config.mac.arch
/reconfigure
/schema
/test-bin64
user.status
/win
*.opensdf
*.sdf
*.suo
*.log
/.cproject
/.project
/.pydevproject

# mac os x meta-files
.DS_Store
._*

*~
\#*
.\#*
core
